@import "function";

// RESETS
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

// /* ####### */

/*##### for-phone-only ##########*/
@media (max-width: 599px) {
  body {
    background: #effafa;
  }

  header {
    height: 156px;
    width: 100%;
    background: #5ca5a5;
    background-image: url(./images/bg-header-mobile.svg);
    background-size: cover;
    margin-bottom: 56px;
  }

  main {
    padding-left: toRem(24);
    padding-right: toRem(24);
    padding-bottom: 34px;

    .item + .item {
      margin-top: 40px;
    }

    .item {
      padding: toRem(32) toRem(24) toRem(24) toRem(24);
      position: relative;
      background: #ffffff;
      box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
      border-radius: 5px;

      .icon {
        position: absolute;
        top: toRem(-24);
        left: toRem(24);
        height: 48px;
        width: 48px;
      }

      .first {
        .row1 {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .company-name {
            font-weight: 700;
            font-size: 13px;
            line-height: 12px;
            color: #5ca5a5;
          }

          .new {
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            letter-spacing: -0.107692px;
            text-transform: uppercase;
            color: #ffffff;
            background: #5ca5a5;
            border-radius: 12px;
            height: 24px;
            width: 51px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 33px;
          }

          .featured {
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: -0.107692px;
            text-transform: uppercase;
            color: #ffffff;
            background: #2b3939;
            border-radius: 12px;
            height: 24px;
            width: 79px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
          }
        }

        h1,
        h2 {
          font-weight: 700;
          font-size: 15px;
          line-height: 24px;
          color: #2b3939;
          margin-top: 9px;
          margin-bottom: 8px;
        }

        .row2 {
          display: flex;
          align-items: center;

          .p1,
          .p2,
          .p3 {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.123077px;
            color: #7c8f8f;
          }

          .p2 {
            margin-left: 20px;
          }

          .p3 {
            margin-left: 20px;
          }
        }
      }

      hr {
        border-top: 1px solid #b7c4c4;
        margin-top: 15px;
        margin-bottom: 16px;
      }

      .second {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        .role,
        .level,
        .lang-p {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.123077px;
          color: #5ca5a5;
          border-radius: 4px;
          background: hsla(180, 29%, 50%, 0.1);
          padding: 5px 10px 3px 8px;
          flex-grow: 0;
        }

        .level {
        }

        .lang {
          display: flex;
          flex-wrap: wrap;
          gap: 16px;

          .lang-p {
          }
        }
      }
    }
  }
}

/*############ for-tablet-portrait-up ##############*/
@media (min-width: 600px) {
  body {
    background: #effafa;
  }

  header {
    height: 156px;
    width: 100%;
    background: #5ca5a5;
    background-image: url(./images/bg-header-desktop.svg);
    background-size: cover;
    margin-bottom: 76px;
  }

  main {
    padding-left: toRem(165);
    padding-right: toRem(165);
    padding-bottom: 120px;

    .item + .item {
      margin-top: 24px;
    }

    .border-left {
      border-left: 5px solid #5ca5a5;
      border-radius: 100px 0px 0px 100px;
    }

    .item {
      padding: toRem(32) toRem(40) toRem(31) toRem(40);
      position: relative;
      background: #ffffff;
      box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .icon-and-first {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .icon {
        margin-right: 24px;
        height: 88px;
        width: 88px;
      }

      .first {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;


        .row1 {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .company-name {
            font-weight: 700;
            font-size: 18px;
            line-height: 12px;
            color: #5ca5a5;
          }

          .new {
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            letter-spacing: -0.107692px;
            text-transform: uppercase;
            color: #ffffff;
            background: #5ca5a5;
            border-radius: 12px;
            height: 24px;
            width: 51px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 33px;
          }

          .featured {
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: -0.107692px;
            text-transform: uppercase;
            color: #ffffff;
            background: #2b3939;
            border-radius: 12px;
            height: 24px;
            width: 79px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
          }
        }

        h1,
        h2 {
          font-weight: 700;
          font-size: 22px;
          line-height: 24px;
          color: #2b3939;
          margin-top: 9px;
          margin-bottom: 8px;

        }

        .row2 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          

          .p1,
          .p2,
          .p3 {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.123077px;
            color: #7c8f8f;
          }

          .dot {
            height: 4px;
            width: 4px;
            background: #B7C4C4;
            border-radius: 50%;
            margin-left: 16px;
            margin-right: 16px;
          }
        }
      }

      hr {
        display: none;
      }

      .second {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        .role,
        .level,
        .lang-p {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.123077px;
          color: #5ca5a5;
          border-radius: 4px;
          background: hsla(180, 29%, 50%, 0.1);
          padding: 5px 10px 3px 8px;
          flex-grow: 0;
        }

        .level {
        }

        .lang {
          display: flex;
          flex-wrap: wrap;
          gap: 16px;

          .lang-p {
          }
        }
      }
    }
  }
}
// @media (600px <= width <= 899px) {}

/*############ for-tablet-landscape-up #############*/
@media (min-width: 900px) {
}
// @media (900px <= width <= 1199px) {}

/*############ for-desktop-up ###########*/
@media (min-width: 1200px) {
}

/*############ for-big-desktop-up ##########*/
@media (min-width: 1800px) {
}
